.bookprocess .react-datepicker {
    font-size: 0.8em;
    border-radius: 0.3em;
}
.bookprocess .react-datepicker--time-only :is(.react-datepicker__time, .react-datepicker__time-box) {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.bookprocess .react-datepicker__header {
    border-top-left-radius: 0.3em;
}
.bookprocess .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
    border-top-right-radius: 0.3em;
}
.bookprocess :is(.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header) {
    font-size: 0.944em;
}
.bookprocess .react-datepicker__year {
    margin: 0.4em;
}
.bookprocess .react-datepicker__year .react-datepicker__year-text {
    width: 4em;
}
.bookprocess .react-datepicker__month {
    margin: 0.4em;
}
.bookprocess .react-datepicker__month :is(.react-datepicker__month-text, .react-datepicker__quarter-text) {
    width: 4em;
}
.bookprocess .react-datepicker__time-container--with-today-button {
    border-radius: 0.3em;
}
.bookprocess .react-datepicker__time-container .react-datepicker__time {
    border-bottom-right-radius: 0.3em;
}
.bookprocess .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    border-bottom-right-radius: 0.3em;
}
.bookprocess .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    height: calc(195px + 1.7em / 2);
}

.bookprocess .react-datepicker__week-number {
    width: 1.7em;
    line-height: 1.7em;
    margin: 0.166em;
}
.bookprocess .react-datepicker__week-number .react-datepicker__week-number--clickable:not(.react-datepicker__week-number--selected,
.bookprocess .react-datepicker__week-number--keyboard-selected):hover {
    border-radius: 0.3em;
}
.bookprocess .react-datepicker__week-number--selected {
    border-radius: 0.3em;
}
.bookprocess .react-datepicker__week-number--keyboard-selected {
    border-radius: 0.3em;
}

.bookprocess :is(.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name) {
    width: 1.7em;
    line-height: 1.7em;
    margin: 0.166em;
}
.bookprocess :is(
    .react-datepicker__day,
    .react-datepicker__month-text,
    .react-datepicker__quarter-text,
    .react-datepicker__year-text
):not([aria-disabled=true]):hover {
    border-radius: 0.3em;
}
.bookprocess :is(
    .react-datepicker__day--highlighted,
    .react-datepicker__month-text--highlighted,
    .react-datepicker__quarter-text--highlighted,
    .react-datepicker__year-text--highlighted) {
    border-radius: 0.3em;
}
.bookprocess :is(
    .react-datepicker__day--holidays,
    .react-datepicker__month-text--holidays,
    .react-datepicker__quarter-text--holidays,
    .react-datepicker__year-text--holidays) {
    border-radius: 0.3em;
}
.bookprocess .react-datepicker__day--today::after {
    height: 1.75em;
    width: 1.75em;
}

.bookprocess :is(
    .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
    .react-datepicker__month-text--selected,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--selected,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--selected,
    .react-datepicker__year-text--in-selecting-range,
    .react-datepicker__year-text--in-range) {
    border-radius: 0.3em;
}
.bookprocess :is(
    .react-datepicker__day--keyboard-selected,
    .react-datepicker__month-text--keyboard-selected,
    .react-datepicker__quarter-text--keyboard-selected,
    .react-datepicker__year-text--keyboard-selected) {
    border-radius: 0.3em;
}

.bookprocess .react-datepicker__input-container .react-datepicker__calendar-icon {
    padding: 0.5em;
}
.bookprocess :is(
    .react-datepicker__year-read-view,
    .react-datepicker__month-read-view,
    .react-datepicker__month-year-read-view) {
    border-radius: 0.3em;
}
.bookprocess :is(
    .react-datepicker__year-dropdown,
    .react-datepicker__month-dropdown,
    .react-datepicker__month-year-dropdown) {
    border-radius: 0.3em;
}
.bookprocess :is(
    .react-datepicker__year-option:first-of-type,
    .react-datepicker__month-option:first-of-type,
    .react-datepicker__month-year-option:first-of-type) {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}
.bookprocess :is(
    .react-datepicker__year-option:last-of-type,
    .react-datepicker__month-option:last-of-type,
    .react-datepicker__month-year-option:last-of-type) {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.bookprocess .react-datepicker__portal :is(.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name) {
    width: 3em;
    line-height: 3em;
}
@media (max-width: 400px), (max-height: 550px) {
    .bookprocess .react-datepicker__portal :is(.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name) {
        width: 2em;
        line-height: 2em;
    }
}
.bookprocess .react-datepicker__portal :is(.react-datepicker__current-month, .react-datepicker-time__header) {
    font-size: 1.44em;
}

.bookprocess .react-datepicker__children-container {
    width: 13.8em;
    margin: 0.4em;
    padding-right: 0.2em;
    padding-left: 0.2em;
}
.bookprocess .react-datepicker__calendar-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}
